# Ignore virtual environment
venv/
*.venv
.venv

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore sensitive credential files
coldauth-a5caf-firebase-adminsdk-fbsvc-274ef406d7.json
token.json
book_info.json
*.json

# Ignore private keys
digitaloceankey
*.pem

# Ignore environment variables file
.env 