Flask
Flask-CORS
gunicorn
google-api-core==2.18.0
google-api-python-client==2.127.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.63.0
requests==2.31.0
beautifulsoup4==4.12.3
openai>=1.0.0
scholarly==1.7.11
firebase_admin==6.5.0
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
redis>=4.5.0
rq>=1.15.0